# Idea
.idea

# Byte-compiled / optimized / DLL files
*.log
*.pot
*.pyc
__pycache__
media

# env file
.env

# database
data

src/core/static/
src/core/__pycache__

# Test / Coverage
.coverage
.coverage.*
.cache
.pytest_cache/
